<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network defaultCredentials="false" host="smtp.gmail.com" password="Afer6!122" port="587" userName="service@apexnet.it" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>